@import 'variables';

html,
body {
  font-family: 'Lato', sans-serif;
  background: $bg-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
